/* SearchTab Component Styles */

.search-tab {
    position: relative;
    width: 300px;
    margin: 20px auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .suggestions-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }
  
  .suggestion-item {
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  .suggestion-item:hover {
    background-color: #f7f7f7;
  }
  